## Final Assignment:
Extracting and Visualizing Stock Data

## Pita Domingos
Analyzing Historical Stock/Reevnue Data and Building Dasboard

In [1]:
#!pip install pandas==1.3.3
#!pip install requests==2.26.0
!mamba install bs4==4.10.0
!mamba install html5lib==1.1
!pip install lxml==4.6.4
#!pip install plotly==5.3.1

0 examples ran in 0.0000 seconds


0 examples ran in 0.0000 seconds
Requirement already satisfied: lxml==4.6.4 in c:\users\pita domingos\anaconda3\lib\site-packages (4.6.4)

In [2]:
import yfinance as yf
import pandas as pd
import requests
from bs4 import BeautifulSoup
import plotly.graph_objects as go
from plotly.subplots import make_subplots

In [3]:
def make_graph(stock_data, revenue_data, stock):
    fig = make_subplots(rows=2, cols=1, shared_xaxes=True, subplot_titles=("Historical Share Price", "Historical Revenue"), vertical_spacing = .3)
    stock_data_specific = stock_data[stock_data.Date <= '2021-06-14']
    revenue_data_specific = revenue_data[revenue_data.Date <= '2021-04-30']
    fig.add_trace(go.Scatter(x=pd.to_datetime(stock_data_specific.Date, infer_datetime_format=True), y=stock_data_specific.Close.astype("float"), name="Share Price"), row=1, col=1)
    fig.add_trace(go.Scatter(x=pd.to_datetime(revenue_data_specific.Date, infer_datetime_format=True), y=revenue_data_specific.Revenue.astype("float"), name="Revenue"), row=2, col=1)
    fig.update_xaxes(title_text="Date", row=1, col=1)
    fig.update_xaxes(title_text="Date", row=2, col=1)
    fig.update_yaxes(title_text="Price ($US)", row=1, col=1)
    fig.update_yaxes(title_text="Revenue ($US Millions)", row=2, col=1)
    fig.update_layout(showlegend=False,
    height=900,
    title=stock,
    xaxis_rangeslider_visible=True)
    fig.show()

In [4]:
Tesla = yf.Ticker("TSLA")

Tesla_data = Tesla.history(period="max")

Tesla_data.reset_index(inplace=True)

Tesla_data.head()

        Date   Open   High    Low  Close    Volume  Dividends  Stock Splits
0 2010-06-29  3.800  5.000  3.508  4.778  93831500          0           0.0
1 2010-06-30  5.158  6.084  4.660  4.766  85935500          0           0.0
2 2010-07-01  5.000  5.184  4.054  4.392  41094000          0           0.0
3 2010-07-02  4.600  4.620  3.742  3.840  25699000          0           0.0
4 2010-07-06  4.000  4.000  3.166  3.222  34334500          0           0.0

In [5]:
html_data = "https://www.macrotrends.net/stocks/charts/TSLA/tesla/revenue"

tesla_data = requests.get(html_data).text

soup = BeautifulSoup(tesla_data,"html5lib")

tesla_revenue = pd.read_html(str(soup))

tesla_revenue = tesla_revenue[1]

revenue_headers = {"Tesla Quarterly Revenue(Millions of US $)":"Date", "Tesla Quarterly Revenue(Millions of US $).1": "Revenue"}

tesla_revenue.rename (columns=revenue_headers,inplace=True)

tesla_revenue["Revenue"] = tesla_revenue['Revenue'].str.replace(',|\$',"")

tesla_revenue.dropna(inplace=True)
tesla_revenue = tesla_revenue [tesla_revenue['Revenue'] != ""]

tesla_revenue.tail()

C:\Users\PITADO~1\AppData\Local\Temp/ipykernel_18756/117111671.py:15: FutureWarning: The default value of regex will change from True to False in a future version.
  tesla_revenue["Revenue"] = tesla_revenue['Revenue'].str.replace(',|\$',"")

          Date Revenue
46  2010-09-30      31
47  2010-06-30      28
48  2010-03-31      21
50  2009-09-30      46
51  2009-06-30      27

In [6]:
gme = yf.Ticker("GME")

gme_data = Tesla.history(period="max")

gme_data.reset_index(inplace=True)

gme_data.head()

        Date   Open   High    Low  Close    Volume  Dividends  Stock Splits
0 2010-06-29  3.800  5.000  3.508  4.778  93831500          0           0.0
1 2010-06-30  5.158  6.084  4.660  4.766  85935500          0           0.0
2 2010-07-01  5.000  5.184  4.054  4.392  41094000          0           0.0
3 2010-07-02  4.600  4.620  3.742  3.840  25699000          0           0.0
4 2010-07-06  4.000  4.000  3.166  3.222  34334500          0           0.0

In [7]:
gme_html = "https://cf-courses-data.s3.us.cloud-object-storage.appdomain.cloud/IBMDeveloperSkillsNetwork-PY0220EN-SkillsNetwork/labs/project/stock.html"
gme_data = requests.get(html_data).text

soup = BeautifulSoup(gme_data,"html5lib")
gme_revenue = pd.read_html(str(soup))

gme_revenue = gme_revenue[1]
gme_headers = {"GameStop Quarterly Revenue(Millions of US $)":"Date", "Gamestop Quarterly Revenue(Millions of US $).1": "Revenue"}

gme_revenue.rename (columns=revenue_headers,inplace=True)
gme_revenue["Revenue"] = gme_revenue['Revenue'].str.replace(',|\$',"")

gme_revenue.dropna(inplace=True)
gme_revenue = tesla_revenue [tesla_revenue['Revenue'] != ""]

gme_revenue.tail()

C:\Users\PITADO~1\AppData\Local\Temp/ipykernel_18756/3110161503.py:11: FutureWarning: The default value of regex will change from True to False in a future version.
  gme_revenue["Revenue"] = gme_revenue['Revenue'].str.replace(',|\$',"")

          Date Revenue
46  2010-09-30      31
47  2010-06-30      28
48  2010-03-31      21
50  2009-09-30      46
51  2009-06-30      27

In [13]:
make_graph(tesla_revenue, tesla_revenue, 'Tesla')

AttributeError: 'DataFrame' object has no attribute 'Close'

In [12]:
make_graph(gme_data, gme_revenue, 'GameStop')

AttributeError: 'str' object has no attribute 'Date'

I cannot undestand the error showing above. Anyone can help understand where did I go wrong